body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #636372;
}

h1 {
    font-weight: 500;
}

.button-blue {
    background-color: #2F5C91;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #EFEFEF;
    border: none;
    font-size: 13px;
    padding-inline: 9px;
    padding-block: 2px;
}

.button-blue:hover {
    background-color: rgb(81, 125, 173); /* ホバー時の背景色 */
}

.search-icon {
    border: none;
    background-color: #FFFFFF;
    color: #636372;
}

table {
    border-collapse: collapse;  /* セルの間の余白をなくす */
}

table th, table td {
    border-left: none;  /* 左側の線を消す */
    border-right: none;  /* 右側の線を消す */
    border-top: 1px solid rgb(99, 99, 114);  /* 上側の線を設定 */
    border-bottom: 1px solid rgb(99, 99, 114);  /* 下側の線を設定 */
}

table tr:first-child th,
table tr:first-child td,
table tr:last-child th,
table tr:last-child td {
    border-top: none;  /* 一番上の行の上側の線を消す */
    border-bottom: none;  /* 一番下の行の下側の線を消す */
}

table tr:first-child th,
table tr:first-child td {
    border-bottom: 2px solid rgb(99, 99, 114);
}

table td, table th {
    padding: 10px 0;  /* 上下に10pxのパディングを追加 */
}

.center-text {
    text-align: center;
}

.container {
    margin: 31px 100px 31px 100px;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.rapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container .display-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container label {
    margin-bottom: 5px;
}

.form-container {
    border: 1px solid #EFEFEF;
    padding: 30px;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.container input, .container select {
    border: 1px solid #EFEFEF;
    padding: 5px;
}

dl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px dotted #000;
    padding-top: 23px;
}
dt, dd {
    flex-basis: 34%;
}
