table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.container {
    margin: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.rapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container .display-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container label {
    margin-bottom: 5px;
}

.form-container {
    border: 1px solid #EFEFEF;
    padding: 30px;
    background-color: #F6F6F6;
    border-radius: 5px;
}

.container input, .container select {
    border: 1px solid #EFEFEF;
    padding: 5px;
}
